﻿
@*@{
    ViewBag.Title = "Language";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}

<h2>Language</h2>

<ul>
    <li>
        @Html.ActionLink("Türkçe", "Change", "Language", new { LanguageAbbrevation="tr"})
    </li>
    <li>
        @Html.ActionLink("English", "Change", "Language", new { LanguageAbbrevation = "en" })
    </li>
    <li>
        @DateTime.Now.ToString();
    </li>
</ul>*@

