﻿@model webodev.WebUI.Models.Marka

@{
    ViewBag.Title = "MarkaSil";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br /><br /><br /><br />
<h2>Marka Sil</h2>

<h3>Silmek istediğinize emin misiniz?</h3>
<div>
    <h4>Marka</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Adi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aciklama)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aciklama)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-default" /> |
            @Html.ActionLink("Geri", "Markalar")
        </div>
    }
</div>
