﻿
@{
    ViewBag.Title = "OzellikDegerEkle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@model IEnumerable<webodev.WebUI.Models.OzellikTip>

<br /><br /> <br />
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                Özellik Değer Ekle
            </header>
            <div class="panel-body">
                <form class="form-horizontal tasi-form" method="post" action="/Admin/OzellikDegerEkle">
                    <div class="form-group">
                        <select class="form-control m-bot15" name="OzellikTipID">
                            @foreach (var tip in Model)
                            {
                                <option value="@tip.Id">@tip.Adi</option>
                            }

                        </select>
                        <label class="col-sm-2 col-sm-2 control-label">Ozellik Değer Adı:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="Adi">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">Açıkalama:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="Aciklama">

                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                            <button class="btn btn-danger" type="submit">Kaydet</button>
                        </div>
                    </div>
                </form>
            </div>
        </section>


    </div>
</div>
